

.step-progress
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    width: 3px;
    height: auto;
    background-color: rgb(238, 70, 70);
    border-radius: 5em;
}

.step-progress > .progress-step
{ 
    list-style-type: none; 
    width: max-content;
    display: block;
    overflow-x: visible;
    text-overflow: clip;
    white-space: nowrap;
    
}

.step-progress > .progress-step:nth-child(even)
{ margin: 40px 0px; }

.step-progress > .progress-step:last-child
{ margin-bottom: 0px; }

.step-progress > .progress-step
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 25px !important;
    height: 25px !important;
    border-radius: 100%;
    border: 3px solid white;
    background-color: rgb(238, 70, 70);
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.8);
}


.progress-label > span
{
    height: 25px !important;
    line-height: 25px !important;
}

.progress-label > div:nth-child(even)
{ margin: 35px 0px; }

.progress-label > span:last-child
{ margin-bottom: 0px; }

.step-progress > .progress-step.ok
{ color: white; }

.step-progress > .progress-step.not-ok
{ color: rgb(72, 255, 0); }