@import '../sizing';
@import '../appcolor';

*
{
    margin: 0;
    box-sizing: border-box;
}

html
{
    width: auto;
    height: auto;
}

body
{
    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 280px;
    min-height: 600px;
    
    @include onSM
    {
        min-width: 576px;
    }
    @include onMD
    {
        min-width: 768px;
    }
    @include onLG
    {
        min-width: 992px;
    }
    @include onXL
    {
        min-width: 1200px;
    }
    @include onXXL
    {
        min-width: 1400px;
    }
}

/* ========= SIDEBAR ========= */ 

#sidebar
{
    height: 100%;
}

#sidebar-collapse
{
    height: 100%;
}

#sidebar-main
{
    width: 14.75em;
    width: 236px;
    height: 100%;
}

/* ========= NAVBAR BRAND ========= */ 
#brand-icon
{
    width: auto;
    min-width: 52px;
    width: 30%;
}

#brand-label
{
    font-size: 1em;
}

/* ========= SEPARATOR ========= */ 
.sidebar-separator
{
    width: 85%;
}

/* ========= LIST GROUP ========= */ 
.li-group-override
{
    width: 85%;
    &>.list-group-item-override
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
        background-color: initial;
    }
}

.list-group-item-override
{
    display: flex !important;
    align-items: center;
    padding:100px initial !important;
    &>.list-icon
    {
        font-size: 1.2em;
    }
    &>.list-label
    {
        margin: 0 10px;
        text-decoration: none;
        font-size: 1em;
    }
}

.active-link *
{
    color: $WHITE;
    &:hover
    {
        color: $WHITE;
    }
}