@import '../global/appcolor';
@import '../global/sizing';


body
{
    overflow: hidden auto;
}

.login__main
{ background-color: $LOGIN-BG !important; }

.login__center-panel
{

    width: 100%;
    min-width: 100%;
    height: 100%;

    @include onMD
    {
        width: 26.25%; // 26.25% in 1600 is 420
        min-width: 420px;
        height: auto;
        border-radius: .3em;
        box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.4);
    }
}


.login__app-brand
{
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;

    @include onMD
    {
        position: initial;
        inset: initial;
        transform: initial;
    }

}

.login__brand-icon
{
    width: 30%;
    // min-width: 112px;
    max-width: 162px;
}

.login__page-form-0
{
    width: 80%;
    height: 100%;
    
    @include onMD
    {
        height: auto;
    }
}

.login__login-btn
{ background-color: $LOGIN-LOGIN-BTN-BG !important; }

.login__register-btn
{ background-color: $LOGIN-REGISTER-BTN-BG !important; }

.input-group-text
{ 
    display: block !important;
    min-width: 3em !important;
    background-color: $LOGIN-INPUT-ICON-BG !important; 
}