

@import '../../global/appcolor';


.new-job-order__new-job-order-header-label
{ font-size: 1.6em; }

.new-job-order__upload-files-btn,
.new-job-order__upload-files-btn * {
  color: #0020EC !important;
  border-color: #0020EC !important;
}

.new-job-order__submit-btn {
  background-color: #0020EC !important;
}