@import '../global/sizing';


.user-profile__user-image-wrapper
{
    width: 100%;
    min-height: 170px;
    max-height: 16em;
    overflow-y: hidden;
}


.user_profile__short-info-list
{
    list-style-type: none;
    padding: 0;
    & > li 
    { 
        display: flex;
        align-items: center;
        padding: 0 !important; 
    }
    & > li > i
    { min-width: 1.5em; }
}

