@import '../global/sizing';

.user-profile__dp-image-wrapper
{
    margin: 0 auto;
    padding-top: 40%;
    width: 40%;
    border-radius: 100%;

    @include onLG()
    {
        margin: initial;
        padding-top: 80%;
        width: 80%;
    }

}

