@import '../global/sizing';


.dashboard-tile
{
    width: 100%;
    height: auto;

    padding-top: 100%;

    @include onMD // until 1199px
    { 
        width: 82%;
        padding-top: 82%;
    }

    @include onXL
    { 
        width: 88%;
        padding-top: 34%;
    }
}

.tile 
{
    border: none;
    border-radius: .5em;
    @include onLG
    {
        border-left: .5em solid transparent;
        border-right: .5em solid transparent;
    }
}

.tile-blue-variant
{
    @extend .tile;
    @include onXL
    { border-left-color: rgb(120, 48, 255);  }
}

.tile-light-blue-variant
{
    @extend .tile;
    @include onXL
    { border-left-color: rgb(170, 125, 255); }
}

.tile-green-variant
{
    @extend .tile;
    @include onXL
    { border-left-color: rgb(127, 160, 37); }
}

.tile-light-green-variant
{
    @extend .tile;
    @include onXL
    { border-left-color: rgb(151, 177, 81); }
}