

body
{ 
    all: initial;
    background-color: #EEEEEE; 
}

@media print 
{
    body
    { background-color: #FFFFFF; }

    div[class="form__view"], *
    { 
        visibility: visible; 
        width: 100vw;
        box-shadow: initial !important;
    };

}

div[class="form__view"]
{
    display: block;
    margin: auto;
    width: 640px;
    height: auto;
    min-height: 768px;
    padding: 35px 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.2);
}

img[alt="form-header"]
{ 
    display: block;
    margin: auto; 
    width: 60%; 
}

table
{ 
  display: block;
  width: 640px;
  table-layout: fixed;
  border-collapse: collapse;
}

tbody 
{ width: 100% !important; }

tr
{
  height: 100% !important;
}

.xl119 
{
  font-family: Calibri, sans-serif;
  text-align: right;
}

.xl66 
{
  font-family: Calibri, sans-serif;
}

.xl67 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
}

.x-pr-number-slot
{
  font-family: Calibri, sans-serif;
  text-align: center;
  text-decoration: underline;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;

  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;

}

.xl297 
{
  font-family: Calibri, sans-serif;
  border-top: 2.0pt double black;
  border-right: none;
  border-bottom: none;
  border-left: 2.0pt double black;
  vertical-align: top;
}

.x-sai-number-slot
{
  font-family: Calibri, sans-serif;
  text-align: center;
  text-decoration: underline;
  border-top:none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.xl298
{
  font-family: Calibri, sans-serif;
  border-top: 2.0pt double black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.xl299 
{
  font-family: Calibri, sans-serif;
  border-top: 2.0pt double black;
  border-right: 2.0pt double black;
  border-bottom: none;
  border-left: none;
}

.xl300 
{
  font-family: Calibri, sans-serif;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 2.0pt double black;
}

.x-date-slot 
{
  text-decoration: underline;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: none;
  border-right: 2.0pt double black;
  border-bottom: none;
  border-left: none;
  
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.xl302 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 2.0pt double black;
}

.xl303 
{
  font-size: 10.0pt;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: none;
  border-right: 2.0pt double black;
  border-bottom: none;
  border-left: none;
}

.xl304 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  border-top: none;
  border-right: none;
  border-bottom: 2.0pt double black;
  border-left: 2.0pt double black;
}

.xl305 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: none;
  border-right: none;
  border-bottom: 2.0pt double black;
  border-left: none;
}

.xl306 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: none;
  border-right: 2.0pt double black;
  border-bottom: 2.0pt double black;
  border-left: none;
}

.xl307 
{
  font-family: Calibri, sans-serif;
  border-top: none;
  border-right: none;
  border-bottom: 2.0pt double black;
  border-left: none;
}

.xl308 
{
  font-size: 10.0pt;
  font-family: Calibri, sans-serif;
  border-top: none;
  border-right: none;
  border-bottom: 2.0pt double black;
  border-left: none;
}

.xl309 
{
  font-size: 10.0pt;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: none;
  border-right: 2.0pt double black;
  border-bottom: 2.0pt double black;
  border-left: none;
}

.xl310 
{
  font-size: 10.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: 2.0pt double black;
  border-right: none;
  border-bottom: 2.0pt double black;
  border-left: 2.0pt double black;
}

.xl311 
{
  font-size: 10.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: 2.0pt double black;
  border-right: .5pt solid black;
  border-bottom: 2.0pt double black;
  border-left: .5pt solid black;
  white-space: normal;
}

.xl312 
{
  font-size: 10.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: 2.0pt double black;
  border-right: .5pt solid black;
  border-bottom: 2.0pt double black;
  border-left: .5pt solid black;
}

.xl313 
{
  font-size: 10.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: 2.0pt double black;
  border-right: 2.0pt double black;
  border-bottom: 2.0pt double black;
  border-left: none;
}

.xl319 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: .5pt hairline black;
  border-right: .5pt solid black;
  border-bottom: .5pt hairline black;
  border-left: 2.0pt double black;
}

.xl332 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  border-top: .5pt hairline black;
  border-right: .5pt solid black;
  border-bottom: 2.0pt double black;
  border-left: 2.0pt double black;
}

.xl338 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 2.0pt double black;
}

.xl339 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  border-top: none;
  border-right: none;
  border-bottom: .5pt solid black;
  border-left: 2.0pt double black;
}

.xl340 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  border-top: none;
  border-right: none;
  border-bottom: .5pt solid black;
  border-left: none;
}

.xl341 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  border-top: none;
  border-right: 2.0pt double black;
  border-bottom: none;
  border-left: none;
}

.xl342 
{
  font-size: 12.0pt;
  font-family: Calibri, sans-serif;
  border-top: .5pt solid black;
  border-right: none;
  border-bottom: none;
  border-left: 2.0pt double black;
}

.xl343 
{
  font-size: 8.0pt;
  font-style: italic;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: .5pt solid black;
}

.xl344 
{
  font-size: 8.0pt;
  font-style: italic;
  font-family: Calibri, sans-serif;
  text-align: center;
}

.xl345 
{
  font-size: 8.0pt;
  font-style: italic;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: none;
  border-right: 2.0pt double black;
  border-bottom: none;
  border-left: none;
}

.xl346 
{
  font-size: 10.0pt;
  font-family: Calibri, sans-serif;
  text-align: left;
  border-top: none;
  border-right: .5pt solid black;
  border-bottom: none;
  border-left: 2.0pt double black;
}

.xl347 
{
  font-size: 8.0pt;
  font-family: Calibri, sans-serif;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: .5pt solid black;
}

.xl348 
{
  font-size: 8.0pt;
  font-family: Calibri, sans-serif;
  border-top: none;
  border-right: 2.0pt double black;
  border-bottom: none;
  border-left: none;
}

.xl349 
{
  font-size: 10.0pt;
  font-family: Calibri, sans-serif;
  text-align: left;
  border-top: none;
  border-right: .5pt solid black;
  border-bottom: 2.0pt double black;
  border-left: 2.0pt double black;
}

.xl351 
{
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  vertical-align: top;
  border-top: .5pt hairline black;
  border-right: .5pt solid black;
  border-bottom: .5pt hairline black;
  border-left: .5pt solid black;
}

.xl352 
{
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  vertical-align: top;
  border-top: 2.0pt double black;
  border-right: .5pt solid black;
  border-bottom: .5pt hairline black;
  border-left: .5pt solid black;
}

.xl353 
{
  font-size: 10.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  vertical-align: top;
  border-top: 2.0pt double black;
  border-right: .5pt solid black;
  border-bottom: .5pt hairline black;
  border-left: .5pt solid black;
}

.xl354 
{
  font-size: 10.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  vertical-align: top;
  border-top: 2.0pt double black;
  border-right: 2.0pt double black;
  border-bottom: .5pt hairline black;
  border-left: none;
}

.x-division-slot 
{
  text-decoration: underline;
  font-family: Calibri, sans-serif;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* PURCHASE REQUEST LABEL */
.xl181 
{
  font-size: 14.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
}

.x-office-slot 
{
  font-size: 12.0pt;
  text-decoration: underline;
  font-family: Calibri, sans-serif;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;

}

.xl1225 
{
  font-size: 10.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: 2.0pt double black;
  border-right: none;
  border-bottom: 2.0pt double black;
  border-left: .5pt solid black;
}

.x-designation-slot
{
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: none;
  border-right: none;
  border-bottom: 2.0pt double black;
  border-left: .5pt solid black;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.xl1240 
{
  font-size: 8.0pt;
  font-style: italic;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: .5pt solid black;
  border-right: none;
  border-bottom: none;
  border-left: .5pt solid black;
}

.x-personel-slot
{
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: .5pt solid black;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.xl1243 
{
  color: black;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  vertical-align: top;
  border-top: 2.0pt double black;
  border-right: none;
  border-bottom: .5pt hairline black;
  border-left: .5pt solid black;
  white-space: normal;
}

.x-budget-officer-slot
{
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.x-budget-officer-designation-slot
{
  font-family: Calibri, sans-serif;
  font-weight: initial;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.x-purpose-slot 
{
  //   text-decoration: underline;
  width: max-content;
  font-family: Calibri, sans-serif;
  vertical-align: middle;
  border-top: 2.0pt double black;
  border-right: none;
  border-bottom: none;
  border-left: none;
  white-space: normal;
  word-wrap: break-word !important;
  overflow-wrap: break-word;
}

/* ===================== ITEMS ===================== */
.x-col-1 
{
  font-size: 10.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: .5pt hairline black;
  border-right: .5pt solid black;
  border-bottom: .5pt hairline black;
  border-left: 2.0pt double black;
  vertical-align: top;

  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.x-col-2 
{
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  border-top: .5pt hairline black;
  border-right: .5pt solid black;
  border-bottom: .5pt hairline black;
  border-left: .5pt solid black;
  vertical-align: top;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.x-col-3 
{
  font-weight: 700;
  font-family: Calibri, sans-serif;
  vertical-align: top;
  border-top: .5pt hairline black;
  border-right: .5pt solid black;
  border-bottom: .5pt hairline black;
  border-left: none;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.x-col-4 
{
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  vertical-align: top;
  border-right: .5pt solid black;
  border-bottom: .5pt hairline black;
  border-left: .5pt solid black;
  border-top: .5pt hairline black;
  border-left: .5pt solid black;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.x-col-5 
{
  font-size: 10.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  vertical-align: top;
  border-top: .5pt hairline black;
  border-right: .5pt solid black;
  border-bottom: .5pt hairline black;
  border-left: .5pt solid black;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.x-col-6 
{
  font-size: 10.0pt;
  font-weight: 700;
  font-family: Calibri, sans-serif;
  text-align: center;
  vertical-align: top;
  border-top: .5pt hairline black;
  border-right: 2.0pt double black;
  border-bottom: .5pt hairline black;
  border-left: .5pt solid black;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/*# sourceMappingURL=table.css.map */