




$BLACK        : #131310;
$GREEN        : #eb9534;
$WHITE        : #ffffff;
$LIGHT-GRAY   : #eeeeee; 
$LIGHT-GRAY-1 : #dbdbdb; 
$DARK-GRAY    : #999393;
$VIOLET       : #12021c;


$PRIMARY : #0020EC;


/* ================= SIDEBAR COLORS ================= */

$SIDEBAR-BG            : $PRIMARY;
$SIDEBAR-SCROLL-THUMB  : #FFFFFF;

$SIDEBAR-HOVER         : #FFFFFF;
$SIDEBAR-ACTIVE-LINK   : #FFFFFF;
$SIDEBAR-INACTIVE-LINK : #0DCAF0;

/* ================= PR FORM COLORS ================= */