




$BLACK        : #131310;
$GREEN        : #eb9534;
$WHITE        : #ffffff;
$LIGHT-GRAY   : #eeeeee; 
$LIGHT-GRAY-1 : #dbdbdb; 
$DARK-GRAY    : #999393;
$VIOLET       : #12021c;

$CYAN : #0dcaf0; // based on bs4 | bs5 cyan;

/* dapat parya silag color sa sidebar */ 
$TRACK-THUMB-BG: #0d6efd; // based on bs4 | bs5 bg-primary;