@import "../../global/sizing";

.access-name__access-name
{
    position: absolute !important;
    right: 22.5px;
    bottom: 135px;
    z-index: 3;
    width: 35px;
    height: 35px;
    border: 4px solid white;
    color: white;
    background-color: rgb(74, 74, 243);
    @include onLG()
    {
        bottom: 15px;
    }
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.access-name__access-name
> .access-name__access-name-icon
{
    animation: rotate 1.2s infinite ease-in-out;
    animation-fill-mode: forwards;
}

.access-name__access-name:hover >
.access-name__access-name-label
{
    display: inline !important;
    position: absolute;
    right: 35px;
    bottom: calc(-50% - 17.5px);
    transform: translateY(calc(-50% - 17.5px));
    color: black;
    word-wrap: normal !important;
    white-space: nowrap !important;
}
